@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Chivo Mono', monospace;
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(11, 82, 235, 0.8), rgba(62, 18, 255, 0.8));
}

.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-top: 18px;
}

.logo{
    padding-left: 22px;
    font-size: 32px;
}

.links{
    padding-right: 22px;
}

ul{
    display: flex;
    gap: 28px;
}

li{
    list-style: none;
    font-size: 24px;
}

li:hover{
    transform: translateY(-7%);
}

a{
    color: black;
    text-decoration: none;
}